.header {
  width: 100%;
  height: 32px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #d9d9d7;
}
.header .con {
  width: 1190px;
  margin: 0 auto;
  line-height: 32px;
}
.header .con .t-titie {
  float: left;
  padding: 0 3px;
}
.header .con .t-titie:first-child {
  margin-left: 19px;
  margin-right: 14px;
}
.header .con .cpty {
  float: left;
}
.header .con .cpty1 {
  padding-left: 10px;
}
.header .con .t-vx {
  float: right;
  margin: 0 3px;
  position: relative;
}
.header .con .t-vx .vx1 {
  position: absolute;
  right: 0;
  top: 26px;
  display: none;
  border: 1px solid #f6f6f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  background-color: #fff;
}
.header .con .t-vx .vx1 img {
  width: 200px;
  height: 200px;
}
.header .con .t-vx .te {
  float: left;
  line-height: 25px;
  margin-left: 5px;
}
.header .con .t-vx .vx img {
  float: left;
  margin-top: 5px;
  margin-left: 6px;
}
.header .con .t-vx .gk {
  padding-left: 18px;
  background: url(../img/ps/images/images/1_03.jpg) no-repeat left center;
}
.header .con .t-vx .lb {
  padding-left: 23px;
  background: url(../img/ps/images/2_03.jpg) no-repeat left center;
}
.header .con .t-vx .phone {
  padding-left: 20px;
  background: url(../img/ps/images/1_03.jpg) no-repeat left center;
}
.header .con .t-vx .tv {
  padding-left: 20px;
  background: url(../img/ps/images/3_03.jpg) no-repeat left center;
}
.header .con .shop {
  border: 1px ;
  padding: 0 10px;
  margin-top: 4px;
  border: 1px solid #f6f6f6;
  line-height: 25px;
  position: relative;
}
.header .con .shop .list {
  background-color: #fff;
  display: none;
}
.header .con .shop .list a {
  display: block;
}
.header .con .shop .gw {
  padding-left: 15px;
  background: url(../img/ps/images/东方购物_03.jpg) no-repeat left center;
}
.header .con .shop:hover {
  background-color: #fff;
  border: 1px ;
  padding: 0 10px;
  margin-top: 4px;
  border: 1px solid #f6f6f6;
  line-height: 25px;
}
.header .con .shop:hover .list {
  border: 1px solid #f6f6f6;
  border-top: none;
  position: absolute;
  left: 0;
  z-index: 1;
  padding-left: 24px;
  padding-right: 18px;
}
.header .con .evx {
  height: 30px;
  margin-top: 4px;
  width: 70px;
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 10px;
  margin-left: 3px;
}
.header .con .evx:hover {
  background-color: #fff;
  height: 30px;
  margin-top: 3px;
  width: 70px;
  text-align: center;
  border-left: 1px solid #f6f6f6;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  padding-bottom: 10px;
}
.header .con .evx:hover .te {
  float: left;
  line-height: 25px;
  margin-left: 5px;
}
.header .con .evx:hover .vx img {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.ss-warp {
  width: 100%;
}
.ss-warp .ss {
  margin-top: 10px;
  margin: 0 auto;
  width: 1190px;
  height: 82px;
}
.ss-warp .ss .d1 {
  display: block;
  float: left;
  height: auto;
  width: 140px;
  padding: 0;
  text-align: right;
  font-size: 0;
  margin-right: 30px;
  margin-left: 10px;
}
.ss-warp .ss .xa {
  float: left;
}
.ss-warp .ss .sear {
  width: 450px;
  height: 70px;
  padding: 12px 0 0 41px;
  float: left;
}
.ss-warp .ss .sear .fom {
  width: 444px;
  height: 34px;
  border: 3px solid #f12e24;
  position: relative;
}
.ss-warp .ss .sear .fom input[type='text'] {
  float: left;
  width: 367px;
  height: 34px;
  line-height: 34px;
  text-indent: 8px;
  border: 0;
  color: #9da6ab;
}
.ss-warp .ss .sear .fom input[type='button'] {
  float: left;
  background: #f12e24;
  width: 77px;
  height: 34px;
  border: 0;
  color: #fff;
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  font-family: 'Microsoft YaHei';
  cursor: pointer;
}
.ss-warp .ss .sear .seax {
  float: left;
  width: 360px;
  height: 28px;
}
.ss-warp .ss .sear .seax li {
  float: left;
  margin-right: 8px;
  margin-left: 3px;
  line-height: 28px;
}
.ss-warp .ss .sear .ph {
  float: right;
  margin-top: 5px;
  display: block;
  height: 18px;
  line-height: 18px;
  padding-left: 23px;
  background: url(../img/images/bg.site.nav.png) -8px -660px no-repeat;
  margin-right: 0;
}
.ss-warp .ss .gwc {
  float: left;
  margin-left: 17px;
  width: 120px;
  height: 40px;
  margin-top: 12px;
  background-color: #F7F7F7;
  cursor: pointer;
  border: 1px solid #EFEFEF;
  position: relative;
}
.ss-warp .ss .gwc .gwc-z {
  color: #505966;
  float: left;
  line-height: 38px;
  padding-left: 45px;
  background: url(../img/ps/images/gwc_03.jpg) no-repeat 10px center;
}
.ss-warp .ss .gwc i {
  line-height: 38px;
  float: right;
  margin-right: 10px;
}
.ss-warp .ss .gwc .num {
  width: 20px;
  height: 20px;
  top: -8px;
  left: 24px;
  text-align: center;
  color: #fff;
  position: absolute;
  background-color: red;
  display: block;
  border-radius: 50%;
}
.ss-warp .ss .gwc .gwc-con {
  display: none;
}
.ss-warp .ss .gwc:hover {
  height: 42px;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  background-color: #fff;
  box-shadow: 0 0 10px #DDD;
}
.ss-warp .ss .gwc:hover .gwc-con {
  position: absolute;
  top: 42px;
  right: -2px;
  width: 308px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  border: 1px solid #d9d9d9;
  z-index: 20000;
}
.ss-warp .ss .gwc:hover .gwc-con p {
  padding-left: 58px;
  height: 49px;
  line-height: 49px;
  overflow: hidden;
  color: #999;
}
.ss-warp .ss .ss-zh {
  margin-left: 17px;
  float: left;
}
.ss-warp .nav {
  height: 34px;
  width: 100%;
  position: relative;
  background: #f12e24;
  overflow: visible;
}
.ss-warp .nav .nav-con {
  width: 1190px;
  margin: 0 auto;
}
.ss-warp .nav .nav-con .nav-tit {
  display: block;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
  height: 34px;
  line-height: 34px;
  position: relative;
  z-index: 1;
  padding: 0 19px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}
.ss-warp .nav .nav-con .nav-tit.d1 {
  width: 220px;
  height: 33px;
  padding: 0;
  padding-top: 1px;
  cursor: pointer;
}
.ss-warp .nav .nav-con .nav-tit.active {
  background-color: #b8362f;
}
.zj {
  width: 100%;
}
.zj .zj-con {
  width: 1110px;
  margin: 0 auto;
}
.zj .zj-con ul {
  MARGIN: 0px;
  PADDING: 0px 0px 0px 12px;
  FONT-FAMILY: SimSun;
  HEIGHT: 40px;
  LINE-HEIGHT: 40px;
  BACKGROUND: url(../img/list/bg.nav.1.gif) left center no-repeat;
  COLOR: #505966;
}
.zj .zj-con ul li {
  float: left;
  color: #737f86;
}
.zj .zj-con ul li a {
  color: #505966;
}
.zj .zj-con ul li a:hover {
  text-decoration: underline;
  color: deepskyblue;
}
.content {
  width: 100%;
  padding-bottom: 8px;
  overflow: hidden;
}
.content .content-con {
  width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}
.content .content-con .content-con-left {
  width: 200px;
  float: left;
}
.content .content-con .content-con-left .content-con-left-top {
  width: 198px;
  margin-bottom: 20px;
  border: 1px solid #d7d7d7;
}
.content .content-con .content-con-left .content-con-left-top h3 {
  background: #f1f1f1;
  font-size: 14px;
  padding: 5px 0 5px 10px;
  line-height: 20px;
  border-bottom: 1px solid #d7d7d7;
}
.content .content-con .content-con-left .content-con-left-top .content-con-left-top-list {
  padding: 5px 0;
}
.content .content-con .content-con-left .content-con-left-top .content-con-left-top-list p a {
  display: block;
  line-height: 24px;
  padding-left: 20px;
  height: 24px;
}
.content .content-con .content-con-left .content-con-left-top .content-con-left-top-list p a.active {
  font-weight: bold;
  color: #239CDC;
  background: url(../img/list/bg.nav.1.gif) 10px center no-repeat;
}
.content .content-con .content-con-left .content-con-left-bottom {
  width: 200px;
  margin-bottom: 20px;
}
.content .content-con .content-con-left .content-con-left-bottom h3 {
  background: #f1f1f1;
  border-top: 2px solid #239cdc;
  line-height: 20px;
  padding: 5px 0 5px 11px;
  font-size: 14px;
}
.content .content-con .content-con-left .content-con-left-bottom .content-con-left-bottom-box {
  width: 160px;
  padding: 10px 15px;
}
.content .content-con .content-con-left .content-con-left-bottom .content-con-left-bottom-box dl dt {
  text-align: center;
}
.content .content-con .content-con-left .content-con-left-bottom .content-con-left-bottom-box dl dt img {
  display: block;
  width: 160px;
  height: 160px;
}
.content .content-con .content-con-left .content-con-left-bottom .content-con-left-bottom-box dl .title {
  margin: 2px 0;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
}
.content .content-con .content-con-left .content-con-left-bottom .content-con-left-bottom-box dl .title a:hover {
  text-decoration: underline;
  color: #239cdc;
}
.content .content-con .content-con-left .content-con-left-bottom .content-con-left-bottom-box dl .money span {
  color: #e40000;
  font-size: 14px;
  font-weight: bold;
}
.content .content-con .content-con-right {
  width: 900px;
  float: right;
}
.content .content-con .content-con-right .content-con-right-top {
  border: 1px solid #D7D7D7;
}
.content .content-con .content-con-right .content-con-right-top h3 {
  width: 888px;
  font-size: 14px;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid #D7D7D7;
  background: #f1f1f1;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list {
  padding: 10px;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box {
  padding: 10px 0;
  border-bottom: 1px solid #bfbfbf;
  overflow: hidden;
  position: relative;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box h4 {
  width: 90px;
  padding: 2px 5px 2px 5px;
  height: 16px;
  line-height: 16px;
  color: #4d4f53;
  text-align: right;
  float: left;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .bx {
  width: 55px;
  float: left;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .bx a {
  background-color: #005aa0;
  color: #fff;
  float: left;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 16px;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box ul {
  width: 600px;
  float: left;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box ul li {
  padding-right: 10px;
  float: left;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box ul li a {
  padding: 2px 5px;
  font-size: 12px;
  line-height: 16px;
  color: #005aa0;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box ul li a.active {
  background-color: #005aa0;
  color: #fff;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd {
  float: right;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd span {
  display: inline-block;
  width: 53px;
  height: 21px;
  margin-right: 5px;
  background: url(../img/list/bg.filter.more.gif) no-repeat 0px 0px;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd span:hover {
  background-position: 0px -21px;
  cursor: pointer;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2 {
  position: absolute;
  top: 10px;
  right: 5px;
  display: none;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2 .gd2-yes {
  display: inline-block;
  width: 47px;
  height: 21px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background: url(../img/list/bg.filter.button.1.gif) no-repeat;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2 .gd2-no {
  display: inline-block;
  width: 50px;
  height: 21px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  cursor: pointer;
  color: #239cdc;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list {
  width: 716px;
  float: left;
  display: none;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-top {
  padding-bottom: 10px;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-top li {
  padding-right: 10px;
  float: left;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-top li a {
  float: left;
  padding: 2px 5px;
  height: 16px;
  line-height: 16px;
  color: #005aa0;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-top li a.active {
  background-color: #005aa0;
  color: #fff;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-con {
  width: 100%;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-con ul {
  width: 680px;
  float: left;
  display: none;
}
.content .content-con .content-con-right .content-con-right-top .content-con-right-top-list .content-con-right-top-list-box .gd2-list .gd2-list-con ul li {
  width: 140px;
  height: 30px;
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-center {
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav {
  background-color: #f7f7f7;
  border: 1px solid #d7d7d7;
  overflow: hidden;
  height: 40px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con {
  float: left;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con .content-con-right-center-nav-con-box {
  background-color: #fff;
  float: left;
  margin-right: 5px;
  width: 65px;
  cursor: pointer;
  position: relative;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con .content-con-right-center-nav-con-box p {
  padding-left: 15px;
  line-height: 28px;
  height: 28px;
  float: left;
  background: url(../img/list/bg.icon.4.2.gif) no-repeat right center;
  width: 50px;
  border: 1px solid #d4d4d4;
  color: #9a948d;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con .content-con-right-center-nav-con-box p.active {
  font-weight: bold;
  color: #333;
  height: 26px;
  line-height: 26px;
  width: 48px;
  border-color: red;
  border-width: 2px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con .content-con-right-center-nav-con-box span {
  float: left;
  width: 63px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 2px;
  display: none;
  background: url(../img/list/bg.icon.4.4.gif) no-repeat right center;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con .content-con-right-center-nav-con-box em {
  display: none;
  float: left;
  width: 63px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 2px;
  background: url(../img/list/bg.icon.4.3.gif) no-repeat right center;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con form {
  float: left;
  padding: 7px;
  height: 16px;
  line-height: 16px;
  color: #999;
  margin: 0 5px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .content-con-right-center-nav-con form input {
  margin-right: 5px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .dt-lb {
  width: 110px;
  float: right;
  padding: 5px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .dt-lb .dt {
  float: left;
  margin-top: 4px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .dt-lb .dt .imag {
  float: left;
  padding: 3px 8px 3px 18px;
  height: 15px;
  line-height: 15px;
  background: url(../img/list/bg.icon.1.gif) no-repeat 0 0px;
  color: #9d9d9d;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .dt-lb .dt .imag.active {
  background-color: #239ee2;
  color: #fff;
  background-position: 0 -18px;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .dt-lb .dt .listt {
  float: left;
  padding: 3px 8px 3px 18px;
  height: 15px;
  line-height: 15px;
  background: url(../img/list/bg.icon.1.gif) no-repeat 0 -36px;
  color: #9d9d9d;
}
.content .content-con .content-con-right .content-con-right-center .content-con-right-center-nav .dt-lb .dt .listt.active {
  background-color: #239ee2;
  color: #fff;
  background-position: 0 -54px;
}
.content .content-con .content-con-right .content-con-right-center .content-box {
  padding-bottom: 20px;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con {
  height: 360px;
  overflow: hidden;
  width: 160px;
  padding: 10px 30px 20px;
  float: left;
  border-bottom: 1px solid #ccc;
  margin-bottom: 18px;
  cursor: pointer;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-img {
  width: 190px;
  height: 214px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-img img {
  width: 160px;
  height: auto;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-line {
  height: 16px;
  background: url(../img/list/bg.line.1.gif) repeat-x left center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-title {
  margin: 2px 0;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-title:hover {
  text-decoration: underline;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-price span {
  font-size: 14px;
  font-weight: bold;
  color: #E40000;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-k {
  height: 12px;
  padding: 3px 0;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  position: relative;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn input {
  display: inline-block;
  width: 76px;
  height: 18px;
  line-height: 18px;
  border: 1px solid #d8d8d8;
  text-align: center;
  background: url(../img/list/bg.addtocart.gif);
  color: #333;
  position: absolute;
  cursor: pointer;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn i {
  margin-left: 80px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn i em {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn i em.fdj {
  background: url(../img/list/bg.icon.zoom.gif) no-repeat center center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn i em.xin {
  background: url(../img/list/bg.icon.favorit.gif) no-repeat center center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con .content-box-con-btn i em.pk {
  background: url(../img/list/bg.icon.pk.gif) no-repeat center center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .content-box-con:hover .content-box-con-title {
  color: #239cdc;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table {
  width: 100%;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table th {
  border-bottom: 1px solid #F1F1F1;
  background-color: #fff;
  padding: 5px 0;
  font-weight: normal;
  text-align: center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table th.image {
  width: 120px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table th.title {
  width: 400px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table th.price {
  width: 180px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table th.comment {
  width: 100px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table th.control {
  width: 100px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td {
  padding: 10px 0;
  border-bottom: 1px dotted #d1d1d1;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.image {
  text-align: center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.image .corner_icon1 {
  width: 80px;
  height: 80px;
  margin: auto;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.image .corner_icon1 img {
  width: 80px;
  height: 80px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.title {
  text-align: left;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.title p.title {
  margin: 2px 0;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.price {
  text-align: center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.price p.price {
  padding-top: 5px;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.price p.price em {
  font-style: normal;
  font-size: 14px;
  color: #E40000;
  font-weight: bold;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.price p.icon {
  height: 12px;
  padding: 3px 0;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.comment {
  text-align: center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.control {
  text-align: center;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.control span {
  cursor: pointer;
  display: inline-block;
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.control .addtocart {
  width: 82px;
  height: 28px;
  line-height: 26px;
  text-align: center;
  color: #fff;
  background: url(../img/list/bg.button.1.gif);
}
.content .content-con .content-con-right .content-con-right-center .content-box .table td.control .favorit {
  width: 38px;
  height: 19px;
  line-height: 19px;
  margin: 5px 0;
  padding-left: 15px;
  color: #505966;
  background: url(../img/list/bg.button.5.gif);
}
.content .content-con .content-con-right .content-con-right-bottom {
  margin: 20px 0 5px;
  text-align: center;
  position: relative;
  height: 40px;
}
.content .content-con .content-con-right .content-con-right-bottom .content-con-right-bottom-box {
  margin-top: 9px;
  height: 25px;
  display: inline-block;
}
.content .content-con .content-con-right .content-con-right-bottom .content-con-right-bottom-box .content-con-right-bottom-box-page {
  float: left;
  font-size: 14px;
  color: #505966;
  line-height: 36px;
}
.content .content-con .content-con-right .content-con-right-bottom .content-con-right-bottom-box .content-con-right-bottom-box-page .content-con-right-bottom-box-page-page {
  float: left;
  margin-right: 1px;
}
.content .content-con .content-con-right .content-con-right-bottom .content-con-right-bottom-box .content-con-right-bottom-box-page .content-con-right-bottom-box-page-page a {
  color: #d6d8da;
  border: 1px solid #dfdfdf;
  height: 33px;
  width: 56px;
  display: block;
  text-align: center;
  line-height: 33px;
  margin-top: 1px;
  box-sizing: border-box;
}
.content .content-con .content-con-right .content-con-right-bottom .content-con-right-bottom-box .content-con-right-bottom-box-page .content-con-right-bottom-box-page-page .bg {
  border: 1px solid #dfdfdf;
  width: 33px;
  height: 33px;
  background-color: red;
  color: #fff;
}
.content .content-con .content-con-right .content-con-right-bottom .content-con-right-bottom-box .content-con-right-bottom-box-count {
  margin: 0 15px 0 30px;
  float: left;
  line-height: 36px;
  color: #505966;
  font-size: 14px;
}
.lckzq {
  position: fixed;
  right: 50%;
  bottom: 10px;
  margin-right: -720px;
  width: 96px;
  padding: 10px 0;
  overflow: hidden;
}
.lckzq .lckzq-lbt {
  position: relative;
  margin: 0 auto;
  height: 130px;
  width: 80px;
}
.lckzq .lckzq-lbt .lckzq-lbt-t {
  position: absolute;
  display: none;
}
.lckzq .lckzq-lbt .lckzq-lbt-t img {
  width: 100%;
  height: auto;
}
.lckzq .lckzq-lbt .yuan {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 5px;
}
.lckzq .lckzq-lbt .yuan .dian {
  width: 10px;
  height: 10px;
  float: left;
  margin: 0 3px;
  border-radius: 50%;
  background-color: #E0DFDF;
}
.lckzq .lckzq-lbt .yuan .dian.active {
  background-color: red;
}
.lckzq .lckzq-bottom {
  width: 84px;
  height: auto;
  margin: 0 auto;
}
.lckzq .lckzq-bottom .lckzq-bottom-t {
  border-top: 1px dotted #d3d3d3;
  width: 100%;
  height: 22px;
  padding-top: 55px;
  text-align: center;
  background: #ffffff url(../img/images/bg.site.nav.png) 16px -539px no-repeat;
}
.lckzq .lckzq-bottom .lckzq-bottom-t a {
  text-align: center;
  color: #5c686e;
}
.lckzq .lckzq-bottom .lckzq-bottom-gotop {
  width: 84px;
  height: 30px;
  background: #4b4c50 url(../img/images/bg.site.nav.png) -1px -604px no-repeat;
  color: #fff;
  font-weight: bold;
  text-indent: 23px;
  line-height: 30px;
  cursor: pointer;
}
.foot {
  width: 100%;
  overflow: hidden;
}
.foot .foot-con {
  width: 1190px;
  margin: 0px auto 0;
  overflow: hidden;
}
.foot .foot-con .foot-con-con {
  width: 1190px;
  margin: auto;
  padding-top: 15px;
  overflow: hidden;
}
.foot .foot-con .foot-con-con .foot-con-con-top {
  overflow: hidden;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left {
  float: left;
  width: 838px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li {
  width: 115px;
  float: left;
  margin-left: 20px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p {
  width: 30px;
  height: 29px;
  margin: 0 auto 11px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p.b1 {
  background: url(../img/picture/newflootimg0.png) no-repeat center center;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p.b2 {
  background: url(../img/picture/newflootimg1.png) no-repeat center center;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p.b3 {
  background: url(../img/picture/newflootimg2.png) no-repeat center center;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p.b4 {
  background: url(../img/picture/newflootimg3.png) no-repeat center center;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p.b5 {
  background: url(../img/picture/newflootimg4.png) no-repeat center center;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li p.b6 {
  background: url(../img/picture/newflootimg6.png) no-repeat center center;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li ul {
  width: 83px;
  margin-left: 31px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li ul li {
  height: 20px;
  line-height: 20px;
  color: #6d7177;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-left .foot-con-con-top-li ul li.b {
  font-size: 14px;
  font-weight: bold;
  color: #505966;
  height: 25px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right {
  float: left;
  height: 147px;
  width: 338px;
  border: 1px solid #d9d9d9;
  margin-left: 10px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-top {
  height: 29px;
  color: #505966;
  line-height: 29px;
  margin: 5px 0;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-top h3 {
  font-size: 14px;
  margin-left: 13px;
  float: left;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-top .gd-box {
  height: 29px;
  float: left;
  width: 212px;
  overflow: hidden;
  margin-left: 10px;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-top .gd-box .a {
  position: relative;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-top .gd-box .a a {
  position: relative;
  color: #239CDC;
  font-size: 12px;
  display: block;
  height: 29px;
  width: 212px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-top span {
  float: left;
  margin-left: 12px;
  color: #505966;
}
.foot .foot-con .foot-con-con .foot-con-con-top .foot-con-con-top-right .foot-con-con-top-right-bottom .foot-con-con-top-right-bottom-box {
  width: 158px;
  height: 87px;
  float: left;
  margin-left: 9px;
}
.foot .foot-con .foot-foot {
  border-top: 3px solid #5c686e;
  height: auto;
  margin-top: 10px;
  padding-top: 20px;
  position: relative;
}
.foot .foot-con .foot-foot p {
  text-align: center;
  color: #82888b;
  font-size: 12px;
  padding: 2px 0;
}
.foot .foot-con .foot-bottom {
  padding-bottom: 50px;
  overflow: hidden;
}
.foot .foot-con .foot-bottom .foot-bottom-t {
  width: 1100px;
  margin: 0 auto;
}
.foot .foot-con .foot-bottom .foot-bottom-t ul {
  padding: 14px 0 14px 19px;
  margin-left: 110px;
}
.foot .foot-con .foot-bottom .foot-bottom-t ul li {
  float: left;
  margin-right: 15px;
}
